<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>cablePortal</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>PageFlowJspFilter</filter-name>
        <filter-class>org.apache.beehive.netui.pageflow.PageFlowJspFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <filter-class>org.apache.beehive.netui.pageflow.PageFlowForbiddenFilter</filter-class>
        <init-param>
            <param-name>response-code</param-name>
            <param-value>404</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PageFlowJspFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowJspFilter</filter-name>
        <url-pattern>*.jspx</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>*.java</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>*.jsfb</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>*.jpfs</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    
    
    <context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>
    		classpath:applicationContext2.xml
    	</param-value>
    </context-param> 
	<context-param>
         <param-name>locatorFactorySelector</param-name>
         <param-value>classpath*:/com/cablevision/conf/cablevisionBeanRefContext.xml</param-value>
	 </context-param>
	  <context-param>
	         <param-name>parentContextKey</param-name>
	         <param-value>cablevision-context</param-value>
	 </context-param>
	 <listener>
    	<listener-class>
    		org.springframework.web.context.ContextLoaderListener
    	</listener-class>
    </listener>
    
    
    <listener>
        <listener-class>org.apache.beehive.netui.pageflow.PageFlowContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.apache.beehive.netui.pageflow.HttpSessionMutexListener</listener-class>
    </listener>
<!--    <listener>-->
<!--        <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>-->
<!--    </listener> -->
    <listener>
		<listener-class>com.cablevision.util.LoginSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.cablevision.util.AppContextListener</listener-class>
	</listener>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.beehive.netui.pageflow.PageFlowActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/_pageflow/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>XmlHttpRequestServlet</servlet-name>
        <servlet-class>org.apache.beehive.netui.pageflow.xmlhttprequest.XmlHttpRequestServlet</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>com.metaparadigm.jsonrpc.JSONRPCServlet</servlet-name>
		<servlet-class>com.metaparadigm.jsonrpc.JSONRPCServlet</servlet-class>
	</servlet>
    <servlet>
		<description>
			Servlet para obtener la ultima version de contenidos</description>
		<display-name>
			LastVersionSevlet</display-name>
		<servlet-name>LastVersionSevlet</servlet-name>
		<servlet-class>
			com.cablevision.web.servlet.LastVersionSevlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
			Servlet para hacer el cambio de las url antiguas al nuevo formato</description>
		<display-name>
			SwitchUrlServlet</display-name>
		<servlet-name>SwitchUrlServlet</servlet-name>
		<servlet-class>
			com.cablevision.web.servlet.SwitchUrlServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>com.metaparadigm.jsonrpc.JSONRPCServlet</servlet-name>
		<url-pattern>/JSON-RPC</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.jpf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlHttpRequestServlet</servlet-name>
        <url-pattern>*.xhr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlHttpRequestServlet</servlet-name>
        <url-pattern>*.render</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LastVersionSevlet</servlet-name>
    	<url-pattern>/servlet/content/lastversion/*</url-pattern>
    </servlet-mapping>
    <error-page>
    	<exception-type>java.lang.RuntimeException</exception-type>
    	<location>/errorGeneral.jsp</location>
    </error-page>
    
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/atencion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/cable/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/comunidades/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/contacto/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/contratar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/correo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/cuenta/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/distribuidores/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/HBO/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/hd/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/info/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/internet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/micuenta/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/mudanza/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/negocios/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/newsletter/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/ondemand/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/opinion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/paquetes/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/PPV/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/privacidad/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/programacion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/promociones/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/sitemap/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/soluciones/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/sugerencias/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/telefonia/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SwitchUrlServlet</servlet-name>
    	<url-pattern>/ventajas/*</url-pattern>
    </servlet-mapping>
    </web-app>